@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root{
    --primary-clr: hsl(44, 29%, 90%);
    --secondary-clr: hsl(2, 11%, 44%);
    --green: hsl(147, 15%, 57%);
    --black: hsl(2, 11%, 20%);
}



body{
    background: linear-gradient(45deg, #80A290, rgb(89, 153, 95));
    min-height: 100vh;
    font-family: 'Oxygen', sans-serif;
    }
    
    #box{
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../assets/img/flowertext.png")  var(--primary-clr);
        
    }
    
    #box .content{
        max-width: 600px;
        text-align: center;
        
    }
    
    
    #box .content .errorh2{
        font-size: 18vw;
        color: #80A290;
        line-height: 1em;
        
    }
    
    #box .content .errorh4{
        position: relative;
        font-size: 1.5em;
        margin-bottom: 20px;
        color: green;
        background: #fff;
        font-weight: 300;
        padding: 10px 20px;
        display: inline-block;
        
        
    }
    
    #box .content .back{
        color: #ffffff;
        font-size: 1.2em;
        
    }
    
    #box .content a{
        position: relative;
        display: inline-block;
        padding: 10px 25px;
        background: #80A290;
        color: #fff;
        text-decoration: none;
        margin-top: 25px;
        border-radius: 25px;
        border-bottom: 4px solid rgb(10, 39, 8);
        
    }