.hero{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    height: auto;
    max-height: 100vh;
}
.hero::after{
    content: "";
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,);
    z-index: 15;
}
.hero video{
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: max(360px, 100%);
    object-fit: fill;
}
#home h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
    font-family: smoothy, sans-serif;
    color: var(--secondary-clr);
}
.intro-text{
    max-width: 66ch;
    font-size: 1.3rem;
    text-align: center;
}

.broedtekst {
    font-size: 20px;
}

section:first-of-type{
    margin-top: 2rem;
}
section{
    margin-bottom: 4rem;
}
section img{
    box-shadow: 0 0 2px #000;
}
.season h2{
    font-family: smoothy, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--secondary-clr);
}
.season h3{
    margin-bottom: 1rem;
}
.season p{
    max-width: 40ch;
    font-size: 1.2rem;
}

.season {
    min-height: 500px;
}

.gokaftegning {
     margin-bottom: 30px;

}
.seasons-brown {
    min-height: 400px;
    background: url("../assets/img/flowertext.png") no-repeat, #796261;
    padding: 20px;
    margin-bottom: 20px;
}

.seasons-brown h2 {
    color: white;
    font-family: smoothy, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 10px;
}

.seasons-brown p {
    color: white;
}

.saesonbilledercircle {
    max-width: 60%;
}

.season a {
    color: #796261;
    font-style: smoothy, sans-serif;
}

.stempelbilled {
    max-width: 80%;
    padding: 5px;
}

.stempelkort {
    min-height: 600px;
    background: url("../assets/img/stempelkort.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: center;
}

.stempelkortbillede {
    max-width: 50%;
}

.stempelkort h2 {
    color: var(--secondary-clr);
    font-family: smoothy, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 10px;
}

.stempelkort p {
    color: #796261;
}

.tegningh3 h3 {
    color: var(--secondary-clr);
}


.openinghours {
    max-width: 50%;
    margin: 20px;
}

.openhourdiv {
    min-height: 700px;
    background-image: url(../assets/img/blomster.JPG);
    background-position: center;
}

.infographic {
    min-height: 600px;
    background: url(../assets/img/flowertext.png);
    padding: 10px;
}


.hvilkenkaffe {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #80A290;
    margin-bottom: 15px;
}

.lokation{
    min-height: 500px;   
    background-color: #80A290;
}

.location{
    font-family:  smoothy, sans-serif;
    color: var(--secondary-clr);
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 50px;
    color: white;
}

.text3{
    font-family: 'Oxygen', sans-serif; 
    line-height: 2rem;
    font-size: 20px;
    color: white;
}
.mapouter{
    min-width: 45%;
    margin-top: 75px;
    position:relative;
    text-align:right;
    height:350px;
    width:600px;
}

.gmapcanvas{
    overflow:hidden;
    background:none!important;
    height:350px;
    width:600px;
}


.big-section{
    height: 100vh;
}

.instafeed{
    width: 600px;
    position: relative;
}
.image-list{
    width: 600px;
    height: 600px;
    overflow: hidden;
}
.image-list img{
    width: 600px;
}
.image-list img[data-index="2"]{
    position: absolute;
    right: -120px;
    width: 100px;
    top: 0;
}
.image-list img[data-index="3"]{
    position: absolute;
    right: -120px;
    width: 100px;
    top: 120px;
}
.image-list img[data-index="4"]{
    position: absolute;
    right: -120px;
    width: 100px;
    top: 240px;
}
.image-list img[data-index="5"]{
    display: none;
}

#prev-image,
#next-image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: hsla(0, 0%, 0%, 0.1);
    height: 20%;
}
#prev-image:hover,
#next-image:hover{
    background-color: hsla(0, 0%, 0%, 0.3)
}
#prev-image{
    left: 0;
}
#next-image{
    right:0;
}
#prev-image svg{
    transform: rotateZ(90deg);
}
#next-image svg{
    transform: rotateZ(-90deg);
}

@keyframes bounce {
    0%{
        transform: translateX(-50%) translateY(0);
    }
    50%{
        transform: translateX(-50%) translateY(-50%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}
@media screen and (min-width: 600px) {
    .hero::before{
        content: "";
        position: absolute;
        background-image: url(../assets/img/Chevron-down-45b.svg);
        background-repeat: no-repeat;
        z-index: 20;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        aspect-ratio: 2/1;
        animation-name: bounce;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }   
}