.hero{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    height: auto;
    max-height: calc(100vh - 100px);
}
.hero video{
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: max(360px, 100%);
    object-fit: fill;
}