@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


:root{
    --primary-clr: hsl(44, 29%, 90%);
    --secondary-clr: hsl(2, 11%, 44%);
    --green: hsl(147, 15%, 57%);
    --black: hsl(2, 11%, 20%);
}
.body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 16rem;
}

.pil{
    font-size: 1.8rem;
    color: var(--secondary-clr);
    text-decoration: none;
}
/* Typografi */

#om h1{
    font-family: smoothy, sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: var(--secondary-clr);
    text-align: center;
    background-color: var(--primary-clr);
    padding-top: 5rem;
}

h3{
    font-family:  smoothy, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    margin-top: 10px;
    margin: block;
    color: var(--secondary-clr);
   
}

.location{
    font-family:  smoothy, sans-serif;
    color: var(--secondary-clr);
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: block;  
    color: white;
}

.underskrift{
    font-family: smoothy, sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: block;
    margin-top: 10px;
}

.text{
    text-align: center;
    font-family: 'Oxygen', sans-serif; 
    max-width: 66ch;
    font-size: 1.3rem;
    padding-bottom: 7rem;
   
}

.text2{
    font-family: 'Oxygen', sans-serif; 
    line-height: 2rem;
    font-size: 20px;
}

.text3{
    font-family: 'Oxygen', sans-serif; 
    line-height: 2rem;
    font-size: 20px;
    color: white;
}

.bannerbillede{
    max-width: 100%;
  
}

.banner{
    position: relative;
    display: grid;
    overflow: hidden;
    height: auto;
    max-height: 100vh;
}
.banner::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,);
    z-index: 15;
}

.big-section{
    height: 100vh;
}

/* Billeder */

.underimg{
    box-shadow: 0 0 2px #000;
    min-width: 45%;
    margin-top: 75px;
}

.vogn{
    min-height: 600px;   
    background-color: white;
}

.lokation{
    min-height: 500px;   
    background-color: #80A290;
}

.udlev{
    min-height: 600px;
    background: url("../assets/img/flowertext.png") no-repeat, #ede9de;
}

/* Map */

.mapouter{
    min-width: 45%;
    margin-top: 75px;
    position:relative;
    text-align:right;
    height:350px;
    width:600px;
}

.gmapcanvas{
    overflow:hidden;
    background:none!important;
    height:350px;
    width:600px;
}





@keyframes bounce {
    0%{
        transform: translateX(-50%) translateY(0);
    }
    50%{
        transform: translateX(-50%) translateY(-50%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}
@media screen and (min-width: 600px) {
    .banner {
        content: "";
        position: absolute;
        background-image: url(../assets/img/Chevron-down-45b.svg);
        background-repeat: no-repeat;
        z-index: 20;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        aspect-ratio: 2/1;
        animation-name: bounce;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }   
}