@import url(reset.css);
.wrapper{
    width: 80%;
    margin-inline: auto;
}
.flex{
    display: flex;
}
.flexc{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-jc-c{
    justify-content: center;
}
.flex-jc-sb{
    justify-content: space-between;
}
.flex-jc-fe{
    justify-content: flex-end;
}
.flex-ai-c{
    align-items: center;
}
.flex-ai-fe{
    align-items: flex-end;
}
header{
    background-color: #ede9de;
    padding-block: .5em;
}
.primary-nav{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.link{
    font-size: 1.3rem;
    color: #000;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.dropdown-link{
    position: relative;
}
.dropdown-link:hover .dropdown{
    display: block;
}
.dropdown{
    position: absolute;
    display: none;
    list-style: none;
    background-color: hsl(2, 47%, 55%);
    padding: .4em .8em;
}
.dropdown li{
    white-space: nowrap;
}