@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root{
    --primary-clr: hsl(44, 29%, 90%);
    --secondary-clr: hsl(2, 11%, 44%);
    --green: hsl(147, 15%, 57%); 
}
.body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 16rem;
    font-family: 'Oxygen', sans-serif;
}
/* GLOBAL CLASSES START*/
.wrapper{
    width: clamp(16rem, 70%, 70rem);
    margin-inline: auto;
    padding-inline: 1rem;
}
.flex{
    display: flex;
}
.flex-mobile{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 600px) {
    .flex-mobile{
        flex-direction: row;
    }
}
.flexc{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-jc-c{
    justify-content: center;
}
.flex-jc-sb{
    justify-content: space-between;
}
.flex-jc-fe{
    justify-content: flex-end;
}
.flex-ai-c{
    align-items: center;
}
.flex-ai-fe{
    align-items: flex-end;
}
/* GLOBAL CLASSES END */

/* HEADER START */
header{
    background-color: var(--primary-clr);
    padding-block: .5em;
    position: relative;
    font-family: smoothy, sans-serif; 
    font-weight: 400;
    font-style: normal;
}
.logo{
    height: 100px;
}
nav{
    gap: 2rem;
}
.primary-nav{
    gap: 2rem;
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--primary-clr);
    padding-block: .5em 1em;
    display: none;
}
.primary-nav > li {
    border-bottom: 1px solid #000;
    padding-block: .4em;
    text-align: center;
}
.link{
    font-size: 1.8rem;
    color: var(--secondary-clr);
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.dropdown-link{
    position: relative;
}
.dropdown-link:hover .dropdown{
    display: block;
}
.dropdown{
    position: absolute;
    display: none;
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-clr);
    padding: .4em .8em;
    z-index: 20;
}
.dropdown li{
    white-space: nowrap;
}
.dropdown li a{
    color: var(--primary-clr)
}
.burger {
    all: unset;
    display: block;
    position: absolute;
    width: 36px;
    aspect-ratio: 1/1;
    padding-inline: 0.3em;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 200;
}
.inner-burger,
.inner-burger::before,
.inner-burger::after {
    display: block;
    width: 36px;
    height: 4px;
    background-color: #000;
    transition: transform 100ms ease-in-out;
}
.inner-burger {
    position: relative;
}
.inner-burger::before,
.inner-burger::after {
    position: absolute;
    content: "";
}
.inner-burger::before {
    top: calc(-4px - 7px);
}
.inner-burger::after {
    top: calc(4px + 7px);
}
.burger[aria-expanded=true] .inner-burger {
    transform: rotateZ(45deg);
}
.burger[aria-expanded=true] .inner-burger::before {
    transform: translateY(calc(4px + 7px)) rotateZ(-90deg);
}
.burger[aria-expanded=true] .inner-burger::after {
    display: none;
}
.burger[aria-expanded=true] + nav .primary-nav{
    display: flex;
}
@media screen and (min-width: 600px) {
    .burger{
        display: none;
    }
    .primary-nav{
        display: flex;
        position: static;
        padding: 0;
        width: auto;
    }
}
/* HEADER END */

/* FOOTER START */
footer{
    min-height: 100px;
    background-color: var(--secondary-clr);
}
/* FOOTER END */