/* RESET START */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* remove margin and padding from lists */
ol,
ul {
    margin: 0;
    padding: 0;
}

/* remove list style from list with attribute role ="list" */
ol[role="list"],
ul[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html,
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: geometricPrecision;
    line-height: 1.5;
}

/* a elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    display: block;
    max-width: 100%;
}
img[width] {
    height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make hidden elements hidden */
[hidden],
[aria-hidden=true]{
    display: none;
    opacity: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html,
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* RESET END */

:root{
    --primary-clr: hsl(44, 29%, 90%);
    --secondary-clr: hsl(2, 11%, 44%);
    --green: hsl(145, 15%, 55%);
    --black: hsl(0, 10%, 10%);
}
.body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 16rem;
    font-family: 'Oxygen', sans-serif; 
}
main{
    background-color: var(--primary-clr);
}
h1,
h2,
h3,
h4{
    font-family: smoothy, sans-serif;
}
.paragraph{
    font-size: 1.25rem;
}

/* GLOBAL CLASSES START*/

.wrapper{
    width: clamp(16rem, 90vw, 85rem);
    margin-inline: auto;
    padding-inline: 1rem;
}
.img-shadow{
    box-shadow: 0 0 2px #000;
}
.flex{
    display: flex;
}
.flex-mobile{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 600px) {
    .flex-mobile{
        flex-direction: row;
    }
}
.flexc{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-jc-c{
    justify-content: center;
}
.flex-jc-sb{
    justify-content: space-between;
}
.flex-jc-sa{
    justify-content: space-around;
}
.flex-jc-fe{
    justify-content: flex-end;
}
.flex-ai-c{
    align-items: center;
}
.flex-ai-fe{
    align-items: flex-end;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-b-33{
    flex-basis: 33.333333%;
}
.gap-100{
    gap: 1rem;
}
.gap-200{
    gap: 2rem;
}

/* GLOBAL CLASSES END */

/* HEADER START */

header{
    background-color: var(--primary-clr);
    padding-block: .5em;
    font-family: smoothy, sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    box-shadow: 0 3px 5px hsla(216, 12%, 25%, 0.3);
}
.hero-nav{
    background-color: hsla(0, 0%, 0%, 0.4);
}
.hero-nav .logo svg,
.hero-nav .dropdown-icon svg{
    fill: var(--primary-clr);
}
.hero-nav .link, 
.hero-nav .dropdown-btn,
.hero-nav .pil{
    color: var(--primary-clr);
}
.fixed-header{
    position: fixed;
}
.logo{
    padding-block: .5rem;
}
.logo svg{
    fill: var(--secondary-clr);
}
.logo-img{
    height: 120px;
}
.primary-nav{
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding-block: .5em 1em;
    background-color: var(--primary-clr);
    display: none;
}
.primary-nav > li {
    text-align: center;
    padding: .4em .6em;
}
.link{
    font-size: 1.8rem;
    color: var(--secondary-clr);
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.dropdown{
    position: relative;
}
.dropdown:hover .dropdown-btn,
.dropdown:focus-within .dropdown-btn{
    color: var(--primary-clr);
}
.dropdown:hover .dropdown-icon svg,
.dropdown:focus-within .dropdown-icon svg{
    fill: var(--primary-clr);
}
.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu{
    display: block;
}
.dropdown-btn{
    background-color: transparent;
    color: var(--secondary-clr);
    border: none;
    font-size: 1.8rem;
}
.dropdown-icon{
    display: inline-block;
    margin-bottom: 5px;
}
.dropdown-icon svg{
    fill: var(--secondary-clr);
}
.dropdown-menu{
    position: absolute;
    display: none;
    list-style: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-clr);
    padding: .4em .8em;
    z-index: 20;
    min-width: 110%;
    border-radius: 5px;
}
.dropdown-menu .dropdown-btn{
    position: relative;
    margin-bottom: .5rem;
}
.dropdown-menu .dropdown-btn::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translateX(-55%);
    background-color: #fff;
}
.dropdown-menu li{
    white-space: nowrap;
}
.dropdown-menu li a{
    color: var(--primary-clr)
}
.cta-btn{
    background: linear-gradient(hsl(145, 15%, 60%), hsl(145, 15%, 55%));
    color: var(--black);
    padding: .1em 1.2em;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}
.cta-btn:hover{
    background: linear-gradient(hsl(145, 15%, 65%), hsl(145, 15%, 60%));
}
.burger {
    all: unset;
    display: block;
    width: 36px;
    aspect-ratio: 1/1;
    padding-inline: 0.3em;
    z-index: 200;
}
.inner-burger,
.inner-burger::before,
.inner-burger::after {
    display: block;
    width: 36px;
    height: 4px;
    background-color: var(--secondary-clr);
    transition: transform 100ms ease-in-out;
}
.inner-burger {
    position: relative;
}
.inner-burger::before,
.inner-burger::after {
    position: absolute;
    content: "";
}
.inner-burger::before {
    top: calc(-4px - 7px);
}
.inner-burger::after {
    top: calc(4px + 7px);
}
.burger[aria-expanded=true] .inner-burger {
    transform: rotateZ(45deg);
}
.burger[aria-expanded=true] .inner-burger::before {
    transform: translateY(calc(4px + 7px)) rotateZ(-90deg);
}
.burger[aria-expanded=true] .inner-burger::after {
    display: none;
}
.burger[aria-expanded=true] + nav .primary-nav{
    display: flex;
}
@media screen and (min-width: 600px) {
    .burger{
        display: none;
    }
    .primary-nav{
        display: flex;
        position: static;
        padding: 0;
        width: auto;
        background-color: transparent;
    }
    .primary-nav > li{
        border: none;
    }
    .pil{
        font-size: 1.8rem;
        color: var(--secondary-clr);
        display: block;
    }

}
/* HEADER END */

/* LANDING PAGE START */

.hero,
.banner{
    position: relative;
    display: grid;
    overflow: hidden;
    height: auto;
}
.hero > *,
.banner > *{
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: max(360px, 100%);
    object-fit: fill;
}
.hero::after{
    content: "";
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: 15;
}

.hero{
    max-height: 100vh;
}

.banner{
    max-height: calc(100vh - 152px);
}

#home h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: var(--secondary-clr);
}
.intro-text{
    max-width: 66ch;
    text-align: center;
}
section{
    padding-block: 2rem;
}
.gokaftegning {
    margin-bottom: 30px;
}
.seasons-brown {
    min-height: 400px;
    background: url("../assets/img/flowertext.png") no-repeat, #796261;
    padding: 20px;
    margin-bottom: 20px;
}
.seasons-brown h2 {
    color: white;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 10px;
}
.seasons-brown p {
    color: white;
}
.saesonbilledercircle {
    width: min(850px, 100%);
}
.season h2{
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--secondary-clr);
}
.season a {
    color: #796261;
}
.stempelbilled {
    width: min(800px, 100%);
}
.stempelkort {
    min-height: 600px;
    background: url("../assets/img/stempelkort.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: center;
}
.stempelkortbillede {
    max-width: 50%;
}
.stempelkort h2 {
    color: var(--secondary-clr);
    font-family: smoothy, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 10px;
}
.stempelkort p {
    color: #796261;
}
.flowers-bg {
    min-height: 500px;
    background-image: url(../assets/img/blomster.JPG);
    background-position: center;
}
.openinghours {
    width: min(800px, 100%);
    margin-inline: auto;
}
.infographic {
    background: url(../assets/img/flowertext.png);
    padding-block: 1rem;
}
.hvilkenkaffe {
    width: min(800px, 100%);
    margin-inline: auto;
}
.location{
    background-color: #80A290;
    color: white;
    padding-block: 2rem;
}
.location-heading{
    font-weight: 400;
    font-size: 3rem;
}
.location-text{
    font-size: 1.25rem;
    max-width: 40ch 
}
.location-text strong{
    margin-bottom: 1rem;
    display: inline-block;
}
.gmap-canvas{
    width: clamp(350px, 30rem, 40vw);
    min-height: 240px;
}

.instafeed{
    width: 600px;
    position: relative;
}
.image-list{
    width: 600px;
    height: 600px;
    overflow: hidden;
}
.image-list img{
    width: 600px;
}
.image-list img[data-index="2"]{
    position: absolute;
    right: -120px;
    width: 100px;
    top: 0;
}
.image-list img[data-index="3"]{
    position: absolute;
    right: -120px;
    width: 100px;
    top: 120px;
}
.image-list img[data-index="4"]{
    position: absolute;
    right: -120px;
    width: 100px;
    top: 240px;
}
.image-list img[data-index="5"]{
    display: none;
}
#prev-image,
#next-image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: hsla(0, 0%, 0%, 0.1);
    height: 20%;
}
#prev-image:hover,
#next-image:hover{
    background-color: hsla(0, 0%, 0%, 0.3)
}
#prev-image{
    left: 0;
}
#next-image{
    right:0;
}
#prev-image svg{
    transform: rotateZ(90deg);
}
#next-image svg{
    transform: rotateZ(-90deg);
}

@keyframes bounce {
    0%{
        transform: translateX(-50%) translateY(0);
    }
    50%{
        transform: translateX(-50%) translateY(-50%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

@media screen and (min-width: 600px) {
    .hero::before,
    .banner::before{
        content: "";
        position: absolute;
        background-image: url(../assets/img/Chevron-down-45b.svg);
        background-repeat: no-repeat;
        z-index: 20;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        aspect-ratio: 2/1;
        animation-name: bounce;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }   
}

/* LANDING PAGE END */

/* MENU CONTENT START */

#menu {
    background-color:#80A290;
}
.menu-wrapper{
    width: auto;
    margin-inline: auto;
    margin-block: 1rem;
}
@media screen and (min-width: 600px) {
    .menu-wrapper{
        padding-inline: 1rem;
        width: clamp(16rem, 90vw, 85rem);
    }
}
#zoomC {
    background-image: url("../assets/img/menu111.webp");
}
#zoomC1 {
    background-image: url("../assets/img/menu222.webp");
}
#zoomC2 {
    background-image: url("../assets/img/menu333.webp");
}
.zoom-menu{
    width: 100%;
    min-height: 600px;
    background-position: center;
    background-size: cover;
}

/* MENU CONTENT END */

/* OM OS CONTENT START */

.viergokaffe {
    height: 300px;
}


/* Typografi */

#om h1{
    font-weight: 400;
    font-size: 60px;
    color: var(--secondary-clr);
    text-align: center;
    margin-top: 3rem;
}

.text{
    text-align: center;
    font-family: 'Oxygen', sans-serif; 
    max-width: 66ch;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

h3{
    font-weight: 300;
    font-size: 40px;
    margin-top: 10px;
    color: var(--secondary-clr);
}

.underskrift{
    font-weight: 400;
    font-size: 40px;
    margin: block;
    margin-top: 10px;
}

.text2{
    font-family: 'Oxygen', sans-serif; 
    line-height: 2rem;
    font-size: 20px;
}

/* Billeder */

.underimg{
    box-shadow: 0 0 2px #000;
    min-width: 45%;
    margin-top: 75px;
}

.vogn{
    min-height: 600px;   
    background-color: white;
}

.udlev{
    min-height: 600px;
    background: url("../assets/img/flowertext.png") no-repeat, #ede9de;
}


/* OM OS CONTENT END */

/* LEVERANDØR CONTENT START */

#leverandor h2 {
    font-weight: 400;
    font-size: 3.75rem;
    color: var(--secondary-clr);
    text-align: center;
    padding-block: 20px;
}
#leverandor section{
    min-height: 600px;
    background-color: #fff;
}
.holybean {
    background: url("../assets/img/flowertext.png") no-repeat, #ede9de;
}
.img-45{
    min-width: 45%;
}

/* LEVERANDØR CONTENT END */

/* SWAPCUP CONTENT START */

.overskrift{
    font-weight: 400;
    font-size: 60px;
    color: #796261;
    text-align: center;
    padding: 20px;
}
.linkswap{
    text-decoration: none;
    color:#80A290; 
}
.swapcuphowto {
    min-height: 500px;
    background-color: white;
}
.swapcupintro {
    min-height: 600px;
    background: url("../assets/img/flowertext.png") no-repeat, #ede9de;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* billeder */

.stepbystep {
    margin-inline: auto;
    width: min(850px, 100%)
}
.beans {
    min-height: 100%;
    margin: auto;
}

/* SWAPCUP CONTENT END */

/* GO HJUL CONTENT START */

/*formular*/

.formular {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin-block: 20px;
  }

input[type=text], select {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .kommentar input[type=text] {
      padding: 10px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: var(--green);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--secondary-clr);
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    color: grey;
    resize: none;
  }
/* Typografi */


.textform {
    color: white;
    font-size: 20px;
    max-width: 80%;
}

#om h1{
    font-weight: 400;
    font-size: 60px;
    color: var(--secondary-clr);
    text-align: center;
    background-color: var(--primary-clr);
    padding-top: 5rem;
}

h3{
    font-weight: 300;
    font-size: 40px;
    margin-top: 10px;
    margin: block;
    color: var(--secondary-clr);
   
}

.bring {
    font-size: 50px;
}


.underskrift{
    font-family: smoothy, sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: block;
    margin-top: 10px;
}

.text{
    text-align: center;
    font-family: 'Oxygen', sans-serif; 
    max-width: 66ch;
    font-size: 1.3rem;
    padding-bottom: 7rem;
   
}

.text2{
    font-family: 'Oxygen', sans-serif; 
    line-height: 2rem;
    font-size: 20px;
}

.text3{
    font-family: 'Oxygen', sans-serif; 
    line-height: 2rem;
    font-size: 20px;
    color: white;
}

/* Billeder */

.underimg {
    box-shadow: 0 0 2px #000;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vogn{
    min-height: 600px;   
    background-color: white;
}

/* GO HJUL CONTENT END */

/* TORVEDAGE CONTENT START */

.paralax-banner {
    min-height: calc(100vh - 152px);
    background-image: url('../assets/img/torvedagebanner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: max(360px, 100%);
    object-fit: fill;
}

.torve-heading{
    color: #796261;
    font-size: 2rem;
    margin-bottom: 1em;
}
.effect{
    opacity: 0;
    transform: translateX(-100px);
    transition: 1000ms ease-out;
    transition-property: opacity, transform;
}

.slide-in{
    opacity: 1;
    transform: translate(0);
}

/* TORVEDAGE CONTENT END */

/* FOOTER START */

footer{
    min-height: 100px;
    padding-block: 1rem 2rem;
    background-color: var(--secondary-clr);
}
footer h2{
    color: var(--primary-clr);
    font-family: smoothy, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
}
footer p,
.footer-link{
    color: var(--primary-clr);
}
footer .socials a:hover svg,
footer .socials a:focus svg,
footer .socials a:focus-visible svg {
    transform: scale(1.1);
}
footer .socials svg {
    width: 50px;
    fill: var(--primary-clr);
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
}

/* FOOTER END */